%svg{viewbox: '0 0 16 16'}
  %title Next
  %g
    %path{d: 'M2.5,12.9c0.3,0.2,0.7,0.2,1,0l6-4C9.8,8.6,10,8.3,10,8c0-0.3-0.2-0.6-0.4-0.8l-6-4c-0.3-0.2-0.7-0.2-1,0S2,3.6,2,4v8C2,12.4,2.2,12.7,2.5,12.9zM11,13h2c0.6,0,1-0.4,1-1V4c0-0.6-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1v4v4C10,12.6,10.4,13,11,13z'}
